<!-- snippest/assign-member-look -->
<div class="assign-member-look-popup-wrapper">
  <div class="invite-person">
    <h5 class="title">Assign Look</h5>
    <div class="form-outer-wrapper">
      <div class="form-wrap drop-down">
        <div class="loading-overlay">
          <div class="loading-overlay__spinner">
            <svg width="25" height="25" aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </div>
      </div>
      <div class="api_error form-error text_center"></div>
      <button class="button button--primary assign-look-button">
        Assign Look
      </button>
    </div>
  </div>
</div>