<div class="browse-top-looks">
  <div class="browse-top-looks-wrap">
    <div class="main-title">BROWSE TOP LOOKS</div>
    <div class="browse-top-looks-items-wrap">
      <div class="browse-top-looks-items">
        <div class="browse-top-look-item">
          <div class="item-image">
            <img src="https://app.groomsclub.com/storage/looks/NFPBNG5yGT8yIDxm4ml0VNVUh4kFKicZOK2Suz7C.png" alt="Deserst Sun" />
          </div>
          <div class="item-details">
            <h4 class="title">Desert Sun</h4>
            <p class="sub-title">Starting at $1,999</p>
            <p class="info">Price includes suit jacket and pants
            </p>
            <a class="more-details-btn button button--secondary">More details</a>
          </div>
        </div>
        <div class="browse-top-look-item">
          <div class="item-image">
            <img src="https://app.groomsclub.com/storage/looks/NFPBNG5yGT8yIDxm4ml0VNVUh4kFKicZOK2Suz7C.png" alt="Deserst Sun" />
          </div>
          <div class="item-details">
            <h4 class="title">Desert Sun</h4>
            <p class="sub-title">Starting at $1,999</p>
            <p class="info">Price includes suit jacket and pants
            </p>
            <a class="more-details-btn button button--secondary">More details</a>
          </div>
        </div>
        <div class="browse-top-look-item">
          <div class="item-image">
            <img src="https://app.groomsclub.com/storage/looks/NFPBNG5yGT8yIDxm4ml0VNVUh4kFKicZOK2Suz7C.png" alt="Deserst Sun" />
          </div>
          <div class="item-details">
            <h4 class="title">Desert Sun</h4>
            <p class="sub-title">Starting at $1,999</p>
            <p class="info">Price includes suit jacket and pants
            </p>
            <a class="more-details-btn button button--secondary">More details</a>
          </div>
        </div>
        <div class="browse-top-look-item">
          <div class="item-image">
            <img src="https://app.groomsclub.com/storage/looks/NFPBNG5yGT8yIDxm4ml0VNVUh4kFKicZOK2Suz7C.png" alt="Deserst Sun" />
          </div>
          <div class="item-details">
            <h4 class="title">Desert Sun</h4>
            <p class="sub-title">Starting at $1,999</p>
            <p class="info">Price includes suit jacket and pants
            </p>
            <a class="more-details-btn button button--secondary">More details</a>
          </div>
        </div>
        <div class="browse-top-look-item">
          <div class="item-image">
            <img src="https://app.groomsclub.com/storage/looks/NFPBNG5yGT8yIDxm4ml0VNVUh4kFKicZOK2Suz7C.png" alt="Deserst Sun" />
          </div>
          <div class="item-details">
            <h4 class="title">Desert Sun</h4>
            <p class="sub-title">Starting at $1,999</p>
            <p class="info">Price includes suit jacket and pants
            </p>
            <a class="more-details-btn button button--secondary">More details</a>
          </div>
        </div>
        <div class="browse-top-look-item">
          <div class="item-image">
            <img src="https://app.groomsclub.com/storage/looks/NFPBNG5yGT8yIDxm4ml0VNVUh4kFKicZOK2Suz7C.png" alt="Deserst Sun" />
          </div>
          <div class="item-details">
            <h4 class="title">Desert Sun</h4>
            <p class="sub-title">Starting at $1,999</p>
            <p class="info">Price includes suit jacket and pants
            </p>
            <a class="more-details-btn button button--secondary">More details</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-wrapper">
      <button type="button" class="btn-wrap button--primary event-btn-continue">
        <span class="label">
          Continue
        </span>
        <span class="icon">
          <img
            class="blue-icon"
            src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/next-blue-icon.png?v=1675601344"
            width="22"
            height="22"
            alt="Next Arrow" />
          <img
            class="white-icon"
            src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/next-white-icon.png?v=1675601344"
            width="22"
            height="22"
            alt="Next Arrow" />
        </span>
      </button>
    </div>
  </div>
</div>