{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% if swatch == blank %}
  <div class="swatch error">
    <p>You must include the snippet swatch.liquid with the name of a product option.</p> 
    <p>Use: <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
    <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
  </div>
{% else %}

  {% assign found_option = false %}
  {% assign is_color = false %}
  {% assign option_index = 0 %}
{% assign current_option = '' %}

  {% for option in product.options %}
    
    {% if option == swatch %}
      {% assign found_option = true %}
      {% assign optionName = swatch %}
      {% assign option_index = forloop.index0 %}
      {% assign downcased_option = swatch | downcase %}
      {% if downcased_option contains 'color' or downcased_option contains 'colour' or downcased_option contains 'Color' %}
      {% for variant in product.variants %}
{% assign current_option = variant.options[option_index] %}
{% unless current_options contains current_option %}
{% if how_many_options > 0 %}
{% assign current_options = current_options | join: '|' | append: '|' %}
{% endif %}
{% assign current_options = current_options | append: current_option %}
{% assign current_options = current_options | split: '|' | sort %}
{% assign how_many_options = current_options | size %}
{% endunless %}

        {% endfor %}
        {% assign is_color = true %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% unless found_option %}
    <div class="swatch error swatch-wrap">
      <p>You included the snippet swatch.liquid with the name of a product option — <code>'{{ swatch }}'</code> — that does not belong to your product.</p>
      <p>Use <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
      <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
      <p><strong>This is case-sensitive!</strong> Do not put in <code>'color'</code> if your product option name is <code>'Color'</code>.</p>
    </div>
  {% else %}
    {% assign values = '' %}
    {%- if template == 'cart' -%}
      {% assign s_value = selectedOption.options_with_values[option_index].value %}
      {%- capture selected-value -%}
        data-s_value="{{ s_value }}"
      {%- endcapture -%}
    {%- else -%}
      {% assign s_value = selectedOption.options[option_index] %}
      {%- capture selected-value -%}
        data-s_value="{{ s_value }}"
      {%- endcapture -%}
    {%- endif -%}
    
    {% if is_color and current_options.size > 1 %}
      
    {%- else -%}
    
    {%- endif -%}
  {% endunless %}
{% endif %}