<div class="step-header-wrap">
    <div class="step-wrap active" data-step-label-wrap="1">
      <span class="count">1</span>
      <span class="label">Create Event</span>
    </div>
    <div class="step-wrap" data-step-label-wrap="2">
      <span class="count">2</span>
      <span class="label">Create Look & ADD GUEST</span>
    </div>
    <div class="step-wrap" data-step-label-wrap="3">
      <span class="count">3</span>
      <span class="label">Final Summary</span>
    </div>
  </div>