<div class="button-wrapper">
  <button type="button" class="btn-wrap button--secondary previous-button">
    <span class="icon">
      <img
        class="blue-icon"
        src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/previous-blue-icon.png?v=1675601344"
        width="22"
        height="22"
        alt="Next Arrow" />
      <img
        class="white-icon"
        src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/previous-white-icon.png?v=1675601344"
        width="22"
        height="22"
        alt="Next Arrow" />
    </span>
    <span class="label">
      Previous
    </span>
  </button>
  <button type="button" class="btn-wrap button--primary next-button">
    <span class="label">
      Next
    </span>
    <span class="icon">
      <img
        class="blue-icon"
        src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/next-blue-icon.png?v=1675601344"
        width="22"
        height="22"
        alt="Next Arrow" />
      <img
        class="white-icon"
        src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/next-white-icon.png?v=1675601344"
        width="22"
        height="22"
        alt="Next Arrow" />
    </span>
  </button>
</div>