<!-- final-summary-for-event-page -->
<section class="final-summary-for-event-page-main-wrapper">
  <header>
    <h3 class="heading">Review your size <span>(Not Sure? <a href="/pages/fit-finder">Try Fit Finder</a>)</span></h3>
  </header>
  <div class="product-card-wrapper">
    <div class="jacket-wrap product-card">
      <div class="img">
        <img src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/jacket-vest.png" alt="Jacket icon">
      </div>
      <h3 class="product-title">Jacket</h3>
      <div class="drop-down">
        <label for="jacket-size">Size</label>
        <select name="jacket-size" id="jacket-size">
          <option value="32">32</option>
          <option value="34">34</option>
          <option value="36">36</option>
          <option value="38">38</option>
          <option value="40">40</option>
          <option value="42">42</option>
          <option value="44">44</option>
          <option value="46">46</option>
          <option value="48">48</option>
          <option value="50">50</option>
          <option value="52">52</option>
          <option value="54">54</option>
          <option value="56">56</option>
          <option value="58">58</option>
          <option value="60">60</option>
        </select>
      </div>
      <div class="drop-down">
        <label for="jacket-type">Type</label>
        <select name="jacket-type" id="jacket-type">
          <option value="Short">Short</option>
          <option value="Regular">Regular</option>
          <option value="Long">Long</option>
        </select>
      </div>
    </div>
    <div class="pants-wrap product-card">
      <div class="img">
        <img src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/account-2.png" alt="Pants icon">
      </div>
      <h3 class="product-title">Pants</h3>
      <div class="drop-down">
        <label for="pants-waist">Waist</label>
        <select name="pants-waist" id="pants-waist">
          <option value="26">26</option>
          <option value="28">28</option>
          <option value="30">30</option>
          <option value="32">32</option>
          <option value="34">34</option>
          <option value="36">36</option>
          <option value="38">38</option>
          <option value="40">40</option>
          <option value="42">42</option>
          <option value="44">44</option>
          <option value="46">46</option>
          <option value="48">48</option>
          <option value="50">50</option>
          <option value="52">52</option>
          <option value="54">54</option>
        </select>
      </div>
      <div class="drop-down">
        <label for="pants-length">Length</label>
        <select name="pants-length" id="pants-length">
          <option value="30">30</option>
          <option value="32">32</option>
          <option value="34">34</option>
        </select>
      </div>
    </div>
    <div class="shirt-wrap product-card">
      <div class="img">
        <img src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/shirt-display-img.png" alt="Shirt icon">
      </div>
      <h3 class="product-title">Shirt</h3>
      <div class="drop-down">
        <label for="shirt-neck">Neck</label>
        <select name="shirt-neck" id="shirt-neck">
          <option value="13.5">13.5</option>
          <option value="14.5">14.5</option>
          <option value="15">15</option>
          <option value="15.5">15.5</option>
          <option value="16">16</option>
          <option value="16.5">16.5</option>
          <option value="17">17</option>
          <option value="17.5">17.5</option>
          <option value="18">18</option>
          <option value="18.5">18.5</option>
          <option value="19.5">19.5</option>
          <option value="20.5">20.5</option>
        </select>
      </div>
      <div class="drop-down">
        <label for="shirt-sleeve">Sleeve</label>
        <select name="shirt-sleeve" id="shirt-sleeve">
          <option value="32/33">Short (32/33)</option>
          <option value="34/35">Regular (34/35)</option>
          <option value="36/37">Long (36/37)</option>
        </select>
      </div>
    </div>
    <div class="shoes-wrap product-card">
      <div class="img">
        <img src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/shoes-display-img.png" alt="Shoes icon">
      </div>
      <h3 class="product-title">Shoes</h3>
      <div class="drop-down">
        <label for="shoes-size">Size</label>
        <select name="shoes-size" id="shoes-size">
          <option value="7">7</option>
          <option value="7.5">7.5</option>
          <option value="8">8</option>
          <option value="8.5">8.5</option>
          <option value="9">9</option>
          <option value="9.5">9.5</option>
          <option value="10">10</option>
          <option value="10.5">10.5</option>
          <option value="48">48</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
        </select>
      </div>
    </div>
  </div>
  <div class="member-summary-wrapper">
    <h3 class="heading">Summary</h3>
    <div class="summary-table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Look Name</th>
            <th>No of. Members</th>
            <th>I Pay</th>
            <th>Action Button</th>
          </tr>
        </thead>
        <tbody> 
          <tr>
            <td>
              <span class="look-name">Desert Sun</span>
            </td>
            <td>
              <span class="member-number">
                3 Members
              </span>
            </td>
            <td>
              <span>
                (1 x $415.90) 1 Member
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="look-name">Desert Sun</span>
            </td>
            <td>
              <span class="member-number">
                2 Members
              </span>
            </td>
            <td>
              <span>
                (1 x $415.90) 1 Member
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="look-name">Desert Sun</span>
            </td>
            <td>
              <span class="member-number">
                6 Members
              </span>
            </td>
            <td>
              <span>
                (1 x $415.90) 1 Member
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="look-name">Desert Sun</span>
            </td>
            <td>
              <span class="member-number">
                2 Members
              </span>
            </td>
            <td>
              <span>
                (1 x $415.90) 1 Member
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="look-name">Desert Sun</span>
            </td>
            <td>
              <span class="member-number">
                1 Members
              </span>
            </td>
            <td>
              <span>
                (1 x $415.90) 1 Member
              </span>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <span class="total-price-label">
                Total Cost
              </span>
            </td>
            <td>
              <span class="total-price">
                $1,200.90
              </span>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>