<div class="guest-top-looks">
  <div class="event-look-inner-wrapper">
    <div class="look-card-block">
      <div class="look-title-and-price">
        <div class="look-title">Deserst Sun</div>
        <div class="look-price-wrap">
          <span class="text-lable">Starting at</span>
          <span class="look-price">$199.99</span>
        </div>
      </div>
      <div class="look-image">
        <div class="delete-icon" style="display: none;">
          <img src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/delete.png?v=1678738752" alt="delete icon" />
        </div>
        <img class="look-img" src="https://app.groomsclub.com/storage/looks/GuQqGe2ujaa32QAmTW4HCOaMAgxAOvZMNOpXD640.png" alt="Deserst Sun" />
      </div>
      <div class="pay-info-confirmation-wrap">
        <div class="title">Are you wearing this look?</div>
        <div class="confirm-box-wrap">
          <span class="active" data-value="yes">Yes</span>
          <span data-value="no">No</span>
        </div>
      </div>
      <div class="assign-look-user-wrap">
        
      </div>
      <button class="add-guest-button">+ ADD GUEST</button>
    </div>
    <div class="look-card-block">
      <div class="look-title-and-price">
        <div class="look-title">Deserst Sun</div>
        <div class="look-price-wrap">
          <span class="text-lable">Starting at</span>
          <span class="look-price">$199.99</span>
        </div>
      </div>
      <div class="look-image">
        <div class="delete-icon" style="display: none;">
          <img src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/delete.png?v=1678738752" alt="delete icon" />
        </div>
        <img class="look-img" src="https://app.groomsclub.com/storage/looks/GuQqGe2ujaa32QAmTW4HCOaMAgxAOvZMNOpXD640.png" alt="Deserst Sun" />
      </div>
      <div class="pay-info-confirmation-wrap">
        <div class="title">Are you wearing this look?</div>
        <div class="confirm-box-wrap">
          <span class="active" data-value="yes">Yes</span>
          <span data-value="no">No</span>
        </div>
      </div>
      <div class="assign-look-user-wrap">
        <div class="user-card-block">
          <div class="action-icon">
            <span class="edit-icon">
              <img src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/pencil.png?v=1678738737" alt="Edit Icon">
            </span>
            <div class="delete-icon">
              <img src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/pencil.png?v=1678738737" alt="delete icon" />
            </div>
          </div>
          <h3 class="user-name">Arthur C. Chase</h3>
          <div class="user-email-phone">
            <span class="user-email">john@yopmail.com</span>
            <span class="user-phone"> | (984) 749-578</span>
          </div>
          <div class="size-selected-info">
            <div class="size-selected-wrap">
              <span class="size-select-check">status : size selected</span>
              <span class="reminder-wrap">REMINDER</span>
            </div>
            <spa class="pay-status">I Pay</span>
          </div>
        </div>
        <div class="user-card-block">
          <div class="action-icon">
            <span class="edit-icon">
              <img src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/pencil_1.png?v=1677124389" alt="Edit Icon">
            </span>
            <div class="delete-icon">
              <img src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/delete.png?v=1678738752" alt="delete icon" />
            </div>
          </div>
          <h3 class="user-name">Test User</h3>
          <div class="user-email-phone">
            <span class="user-email">john@yopmail.com</span>
            <span class="user-phone"> | (984) 749-578</span>
          </div>
          <div class="size-selected-info">
            <div class="size-selected-wrap">
              <span class="size-select-check">status : size selected</span>
              <span class="reminder-wrap">REMINDER</span>
            </div>
            <spa class="pay-status">They Pay</span>
          </div>
        </div>
      </div>
      <button class="add-guest-button">+ ADD GUEST</button>
    </div>
  </div>
</div>

<div class="modal-wrapper" data-target="add-guest-popup">
  <div class="modal-wrapper-inner-wrapper">
    <h4 class="title">
      <span class="heading">ADD NEW GUEST</span>
      <span class="close-icon">
        <img src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/close_1.png" alt="close-icon" />
      </span>
    </h4>
    <div class="add-guest-inner-wrapper invite-another-member-popup-wrapper">
      <div class="grid_form">
        <div class="form-outer-wrap">
          <div class="field form-wrap">
            <label class="hidden form-label field__label" for="personForm-FirstName">First name</label>
            <input type="text" name="first_name" class="form_field field__input member-first-name" id="personForm-FirstName" autocomplete="given-name" placeholder="First name">
            <input type="hidden" id="hiddenpersonForm_FirstName">
            <span class="form-error"></span>
          </div>
  
          <div class="field form-wrap">
            <label class="hidden form-label field__label" for="personForm-LastName">Last name</label>
            <input type="text" name="last_name" class="form_field field__input member-last-name" id="personForm-LastName" autocomplete="family-name" placeholder="Last name">
            <input type="hidden" id="hiddenpersonForm_lastName">
            <span class="form-error"></span>
          </div>
        </div>
        <div class="form-outer-wrap">
          <div class="field form-wrap">
            <label class="hidden form-label field__label" for="personForm-email">Email</label>
            <input type="text" name="email" id="personForm-email" class="member-email form_email field__input" spellcheck="false" autocapitalize="off" autocomplete="email" aria-required="true" placeholder="Email">
            <input type="hidden" id="hiddenpersonForm_email">
            <span class="form-error"></span>
          </div>

          <div class="field form-wrap">
            <label class="hidden form-label field__label" for="personForm-telephone">
              Phone
            </label>
            <input type="tel" name="phone" maxlength="14" minlength="10" id="personForm-telephone" class="member-phone field__input form_phone" spellcheck="false" autocapitalize="off" autocomplete="phone" aria-required="true" placeholder="Phone">
            <input type="hidden" id="hiddenpersonForm_phone">
            <span class="form-error"></span>
          </div>
        </div>
      </div>
      <div class="look-dropdown">
        <span class="look-label">Selected Look :</span>
        <span class="look-name"></span>
      </div>
      <div class="field form-wrap custom-checkobx paying-wrap">
        <label class="form-label field__label" for="personForm-email">
          Are you paying for him?
        </label>
        <span class="custom_checkbox">
          <input type="radio" id="yes" name="is_host_paying" value="I Pay" data-val="1">
          <label class="checkbox-label" for="yes"> Yes</label>
        </span>
        <span class="custom_checkbox">
          <input type="radio" id="No" name="is_host_paying" value="They Pay" data-val="0">
          <label class="checkbox-label" for="No">No</label>
        </span>
        <span class="form-error">Please select Any one*</span>
      </div>
      <div class="field btn-fields">
        <button class="button button--primary member-added-into-event">Save Guest</button>
      </div>
    </div>
  </div>
</div>


<div class="modal-wrapper" data-target="update-guest-popup">
  <div class="modal-wrapper-inner-wrapper">
    <h4 class="title">
      <span class="heading">UPDATE GUEST</span>
      <span class="close-icon">
        <img src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/close_1.png" alt="close-icon" />
      </span>
    </h4>
    <div class="add-guest-inner-wrapper invite-another-member-popup-wrapper">
      <div class="grid_form">
        <div class="form-outer-wrap">
          <div class="field form-wrap">
            <label class="hidden form-label field__label" for="personForm-FirstName">First name</label>
            <input type="text" name="first_name" class="form_field field__input member-first-name" id="personForm-FirstName" autocomplete="given-name" placeholder="First name">
            <input type="hidden" id="hiddenpersonForm_FirstName">
            <span class="form-error"></span>
          </div>
  
          <div class="field form-wrap">
            <label class="hidden form-label field__label" for="personForm-LastName">Last name</label>
            <input type="text" name="last_name" class="form_field field__input member-last-name" id="personForm-LastName" autocomplete="family-name" placeholder="Last name">
            <input type="hidden" id="hiddenpersonForm_lastName">
            <span class="form-error"></span>
          </div>
        </div>
        <div class="form-outer-wrap">
          <div class="field form-wrap">
            <label class="hidden form-label field__label" for="personForm-email">Email</label>
            <input type="text" name="email" id="personForm-email" class="member-email form_email field__input" spellcheck="false" autocapitalize="off" autocomplete="email" aria-required="true" placeholder="Email" readonly />
            <input type="hidden" id="hiddenpersonForm_email">
            <span class="form-error"></span>
          </div>

          <div class="field form-wrap">
            <label class="hidden form-label field__label" for="personForm-telephone">
              Phone
            </label>
            <input type="tel" name="phone" maxlength="14" minlength="10" id="personForm-telephone" class="member-phone field__input form_phone" spellcheck="false" autocapitalize="off" autocomplete="phone" aria-required="true" placeholder="Phone">
            <input type="hidden" id="hiddenpersonForm_phone">
            <span class="form-error"></span>
          </div>
        </div>
      </div>
      <div class="look-dropdown">
        <span class="look-label">Selected Look :</span>
        <span class="look-name">Look Name</span>
      </div>
      <div class="field form-wrap custom-checkobx paying-wrap">
        <label class="form-label field__label" for="personForm-email">
          Are you paying for him?
        </label>
        <span class="custom_checkbox">
          <input type="radio" id="yes" name="is_host_paying_update" value="I Pay" data-val="1">
          <label class="checkbox-label" for="yes"> Yes</label>
        </span>
        <span class="custom_checkbox">
          <input type="radio" id="No" name="is_host_paying_update" value="They Pay" data-val="0">
          <label class="checkbox-label" for="No">No</label>
        </span>
        <span class="form-error">Please select Any one*</span>
      </div>
      <div class="field btn-fields">
        <button class="button button--primary member-added-into-event update-guest">Update Guest</button>
      </div>
    </div>
  </div>
</div>