<div class="hometryon-success-popup-wrapper">
  <div class="hometryon-success-sub">
    <h3>Home Try On successfully created.</h3>
    <button class="button button--primary my-event-continue-btn">
      Continue
      </button>
  </div>
</div>