<!-- snippest/send-reminder-popup -->
<div class="send-reminder-popup-wrapper">
  <h5 class="title">Send Reminder</h5>
  <div class="invite-person">
    <div class="grid_form">
      <div class="field-wrap form-wrap">
        <label class="form-label field__label" for="sendName">
          Title:
        </label>
        <input type="text" name="sendName" class=" field__input  custom-event-reminder-name" id="sendName" autocomplete="given-name" placeholder="Name" maxlength="100">
        <span class="form-error"></span>
      </div>

      <div class="field-wrap form-wrap">
        <label class="form-label field__label" for="sendMessage">
          Message:
        </label>
        <textarea id="sendMessage" name="sendMessage" rows="4" cols="50" class="text-area field__input" placeholder="Message..." maxlength="250"></textarea>
        <span class="form-error mobile_error"></span>
      </div>

           
      <div class="field-wrap form-wrap">
          <label class="form-label field__label" for="sendVia">
            Send via:
          </label>
            <div class="send-via-main field-wrap form-wrap">
              <label>
                <input type="checkbox" value="email" class="send-via"><span>Email</span>
              </label>
            </div>
            <div class="send-via-main field-wrap form-wrap">
              <label>
                  <input type="checkbox" value="text-sms" class="send-via"><span>Text / SMS</span>
              </label>
            </div>
            <span class="form-error mobile_error send_via_error"></span>
      </div>

    </div>
    <div class="api_error form-error text_center"></div>
    <button class="button button--primary send-reminder">
      Send Reminder
    </button>
  </div>
</div>