<!-- Event page new design section -->
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- unless customer -%}
<script>
  window.location.href = '/account/login';
</script>
{%- endunless -%}
<section class="event-page-new-design-wrapper page-width">
  <div class="loader-wrapper">
    <div class="loading-overlay__spinner">
      <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
      </svg>
    </div>
  </div>
  <div class="event-step-wrapper hidden">
    {% render 'event-page-header' %}
    {% render 'event-step-1' %}
    {% render 'event-step-2' %}
    {% render 'event-step-3' %}
    {% render 'event-step-4' %}
  </div>
  <div class="modal-wrapper" data-target="delete-look-have-member">
    <div class="modal-wrapper-inner-wrapper">
      <div class="inner-wrapper text-center">
        <p>Look can't be deleted since a member is already assigned to it, Please remove the member in order to delete the look</p>
        <button class="button button--primary" data-value="no">Close</button>
      </div>
    </div>
  </div>
  <div class="modal-wrapper" data-target="member-payment-complete">
    <div class="modal-wrapper-inner-wrapper">
      <div class="inner-wrapper text-center">
        <p>Can not remove member after payment completion.</p>
        <button class="button button--primary" data-value="no">Close</button>
      </div>
    </div>
  </div>
  <div class="reminder-redesign-popup reminder-parent">
    <h5 class="title">Send Reminder</h5>
    <div class="invite-person">
      <div class="grid_form">
        <div class="loading-overlay__spinner">
          <svg width="25" height="25" aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
        </div>
        <div class="add-remider-outer-wrapper hidden">
          <div class="all-member-reminder-title hidden">
            <span class="form-label field__label">Title:</span>
            <span class="reminder-title bg-color"></span>
          </div>
          <div class="field-wrap form-wrap">
            <label class="form-label field__label remiderName" for="remiderName">Select Title:</label>
            <select name="remiderName" id="remiderName" class="bg-color">
              <option value="Select Title" data-message="Please select title ..." selected>Select Title</option>
              <option value="I paid for you, just place the order!" data-message="Your look has been paid for! Simply log in and complete the final steps to have your suit shipped!">I paid for you, just place the order!</option>
              <option value="Final Reminder" data-message="Final Reminder Message">Final Reminder</option>
              <option value="Your Look Was Assigned!" data-message="Hi, just a reminder that I assigned your look! Log in to view and complete next steps to order.">Your Look Was Assigned!</option>
            </select>
          </div>
          <div class="field-wrap form-wrap hidden">
            <span class="form-label field__label">Reminder date:</span>
            <span type="text" id="reminderDate" class="bg-color" data-current-data=""></span>
          </div>
          <div class="field-wrap form-wrap">
            <span class="form-label field__label">Message:</span>
            <span id="reminderMessage" class="bg-color">Please select title ...</span>
          </div>
          <div class="field-wrap form-wrap">
            <label class="form-label field__label" for="sendVia">Send via:</label>
            <div class="send-via-main field-wrap form-wrap">
              <label><input type="checkbox" value="email" class="send-via"><span>Email</span></label>
            </div>
            <div class="send-via-main field-wrap form-wrap">
              <label><input type="checkbox" value="text-sms" class="send-via"><span>Text / SMS</span></label>
            </div>
          </div>
          <div class="field-wrap form-wrap member-wrap">
            <label class="form-label field__label" for="reminderMember">Members:</label>
            <div class="event-member-data"></div>
          </div>
          <div class="api_error form-error text_center" style="margin-bottom : 10px"></div>
          <button class="button button--primary send-reminder disabled">Send Reminder</button>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Event Page",
  "settings": [
    {
      "type" : "header",
      "content" : "Event Name"
    },
    {
      "type": "text",
      "id": "event_name_heading",
      "default": "Event Name",
      "label": "Event Title"
    },
    {
      "type": "text",
      "id": "event_name_placeholder",
      "label": "Placeholder",
      "default": "Enter Event Name"
    },
    {
      "type" : "header",
      "content" : "Event Type"
    },
    {
      "type" : "text",
      "id" : "event_type_heading",
      "label" : "Title",
      "default" : "EVENT TYPE"
    },
    {
      "type" : "header",
      "content" : "When is your event"
    },
    {
      "type" : "text",
      "id" : "when_is_your_event_heading",
      "label" : "Title",
      "default" : "When is your event?"
    },
    {
      "type" : "html",
      "id" : "when_is_your_event_icon",
      "label" : "Icon",
      "default" : "Svg Icon"
    },
    {
      "type" : "header",
      "content" : "What is your role in the event"
    },
    {
      "type" : "text",
      "id" : "when_is_your_role_in_event_heading",
      "label" : "Title",
      "default" : "What is your role in the event?"
    },
    {
      "type" : "header",
      "content" : "Phone Number"
    },
    {
      "type" : "text",
      "id" : "phone_number_title",
      "label" : "Title",
      "default" : "Phone Number"
    },
    {
      "type" : "text",
      "id" : "phone_number_placeholder",
      "label" : "Placeholder",
      "default" : "(123)456-7890"
    },
    {
      "type" : "html",
      "id" : "phone_icon",
      "label" : "Phone Svg Icon"
    },
    {
      "type" : "header",
      "content" : "Create Look"
    },
    {
      "type" : "text",
      "id" : "create_look_title",
      "label" : "Title",
      "default" : "Create Look"
    },
    {
      "type" : "collection",
      "id" : "top_look_collections",
      "label" : "Top look collections"
    }
  ],
  "blocks": [
    {
      "type": "event_type",
      "name": "Event Type",
      "settings": [
        {
          "type": "text",
          "id" :"event_type_title", 
          "label": "Event Type Title"
        },
        {
          "type": "html",
          "id" :"event_type_icon", 
          "label": "Event Type icon"
        }
      ]
    },
    {
      "type": "event_role",
      "name": "Event Role",
      "settings": [
        {
          "type": "text",
          "id" :"event_role_title", 
          "label": "Event Role Title"
        },
        {
          "type": "html",
          "id" :"event_role_icon", 
          "label": "Event Role icon"
        },
        {
          "type": "text",
          "label": "Event Type",
          "id" :"event_type"
        }
      ]
    },
    {
      "type": "event_look",
      "name": "Event Look",
      "settings": [
        {
          "type": "text",
          "id" :"create_look_title", 
          "label": "Create Look Title"
        },
        {
          "type": "image_picker",
          "id" :"create_look_icon", 
          "label": "Create Look icon"
        }
      ]
    }
  ]
}
{% endschema %}