<!-- home try on -->

<div class="page-top-head-background page-top-margin-0">
  <div class="page-width-big">
      <div class="page-top-headpadding-flex">
          <div class="breadcrumb">
              <div class="breadcrumb-links">
                  <a href="#">How It Works</a>
                  <span class="breadcrumb__sep">{% include 'breadcrumb-arrow' %}</span>
                  <span class="active-page">Home Try On</span>
              </div>
          </div>
      </div> 
  </div>
   
  <div class="page-width">
      <div class="main-heading-part">
        <h1 class="text-center-heading border-heading margin-0 page-title">Home Try On</h1>
        <h4 class="page-sub-heading">Home Try On is reserved for Grooms. Create an event and choose your look to initiate your home try on.</h4>  

        <div class="choose-event-part">
            <span class="label">Choose an Event:</span>
            <select>
                <option>My Wedding</option>
                <option>My Engejment</option>
                <option>My Suit</option>
            </select>
        </div>
      </div>
  </div>
</div>

<div class="background-color-spacing assigned-look-back">
  <div class="page-width">
      <div class="invited-assigned-look">
          <div class="left-part-image-part">
              <div class="image">
                  <img src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/product-img-3.png?v=1634963523">
              </div>
              <h3 class="suit-heading margin-0">Men's Light Grey Suit</h3>
          </div>

          <div class="right-assigned-look-list">
              <h2 class="border-heading title">Review Your Look</h2>

              <div class="horizontal-product-part-big two-grid">
                  <div class="product-imge-left"><img src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/product-img-3.png"></div>
                  <div class="product-info">
                      <h4 class="product-title">Light Gray Suit</h4>
                      <p class="product-size-type-exchange"><span>Jacket 40 Regular,</span> <span class="break">|</span> <span class="exchange-item-link link">Edit Size</span></p>
                      <p class="product-size-type-exchange"><span>Pants 38W 32H,</span> <span class="break">|</span> <span class="exchange-item-link link">Edit Size</span></p>
                  </div>
              </div>

              <div class="horizontal-product-part-big two-grid">
                  <div class="product-imge-left"><img src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/product-img-3.png"></div>
                  <div class="product-info">
                      <h4 class="product-title">Light Gray Suit</h4>
                      <p class="product-size-type-exchange"><span>Jacket 40 Regular,</span> <span class="break">|</span> <span class="exchange-item-link link">Edit Size</span></p>
                  </div>
              </div>
              
              <div class="order-footer">
                  <div class="order-subtotal">
                       Subtotal: <h3 class="price-number">Free</h3>
                  </div>

                  <div class="return-suit-checkout-button">
                      <div class="info-stickey-note">
                          <span class="info-icon"><i class="fas fa-info"></i></span>
                          <div class="info-note-text">
                              <p class="note-title">Need to return your suit? </p>
                              <p>Please review our <a href="#" class="link">Return Policy.</a></p>
                          </div> 
                      </div>
                     <a href="#" class="button  button--primary button-lr-small-padding ">Proceed to Cart <i class="fas fa-shopping-cart"></i></a> 
                  </div>
              </div>

          </div> 
  </div>
  </div>
</div>

<!-- home try on -->