.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 20rem;
  border: 1px solid var(--color-foreground-20);
  background-color: var(--color-background);
}

.contact-us-header-menu.list-menu--disclosure{
  left: 200px;
  padding: 15px;
}
.contact-us-header-menu h3,
.footer-contact-us-wrapper h3{
  font-size: 16px;
  margin: 0;
  text-align: left;
  margin-bottom: 15px;
  color: var(--color-primary);
}
.contact-us-header-menu ul,
.footer-contact-us-wrapper ul{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.footer-contact-us-wrapper ul{
  flex-wrap: wrap;
}
.contact-us-header-menu ul li{
  width: calc(50% - 10px);
}
.footer-contact-us-wrapper ul li{
  width: 100%;
}
.contact-us-header-menu ul li p{
  font-size: 12px;
  text-align: left;
  line-height: 20px;
  margin: 0;
}

.footer-contact-us-wrapper ul li p{
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
}
.contact-us-header-menu ul li p a,
.footer-contact-us-wrapper ul li p a{
  text-decoration: none;
  color: inherit;
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {
  text-decoration: none;
  text-underline-offset: 0.3rem;
  color: var(--color-light-blue);
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}

.footer-contact-us-wrapper h3{
  text-align: center;
}
.footer-contact-us-wrapper .footer-block__heading3,
.footer-contact-us-wrapper ul li p a{
  color: #fff;
  text-align: left;
  font-size: 17px;
  font-style: normal;
  line-height: 28px;
  font-weight: 500;
}
@media(max-width: 767px){
  .footer-contact-us-wrapper h3,
  .footer-contact-us-wrapper ul li p a{
    font-size: 14px;
  }
}
.footer-contact-us-wrapper ul li p{
  text-align: left;
}
@media(max-width : 767px){
  .footer-contact-us-wrapper ul {
    display: block;
  }
  .footer-contact-us-wrapper ul li{
    width: 100%;
    text-align: center;
  }
  .footer-contact-us-wrapper ul li p{
    margin-bottom: 0;
  }
}