.price {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  letter-spacing: 0rem;
  line-height: normal;
  font-weight: var(--font-weight-custom-medium);
  justify-content: center;
}

.price__regular{
  color:var(--color-light-blue);
}

.price.price--unavailable {
  visibility: hidden;
}

.price--end {
  justify-content: flex-end;
}

.pdp-price-part {
  margin-top: 0;
  border-bottom: 1px solid var(--color-light-blue);
  padding-bottom: 2.3rem;
}

.price dl {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.price dd {
  margin: 0 1rem 0 0;
}

.price .price__last:last-of-type {
  margin: 0;
}

@media screen and (min-width: 750px) {
  .price {
    margin-bottom: 0;
  }
}

.price--large {
  font-size: 2rem;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (min-width: 590px) {
  .price--large {
    font-size:2.4rem;
  }
}

@media screen and (max-width:1199px) and (min-width:768px) {
  .price--large {font-size: 2rem;}
}

.price--sold-out .price__availability,
.price__regular {
  display: block;
}

.price__sale,
.price__availability,
.price .price__badge-sale,
.price .price__badge-sold-out,
.price--on-sale .price__regular,
.price--on-sale .price__availability,
.price--no-compare .price__compare {
  display: none;
}

.price--sold-out .price__badge-sold-out,
.price--on-sale .price__badge-sale {
  display: inline-flex;
}

.price--on-sale .price__sale {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.price--center {
  display: flex;
  justify-content: center;
}

.price--on-sale .price-item--regular {
  text-decoration: line-through;
  color: var(--color-foreground-75);
}

.unit-price {
  font-size: 1.1rem;
  letter-spacing: 0.04rem;
  line-height: 1.2;
  margin-top: 0.2rem;
  text-transform: uppercase;
  color: var(--color-foreground-70);
}
