.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 20rem;
  border: 1px solid var(--color-foreground-20);
  background-color: var(--color-background);
}

.contact-us-header-menu.list-menu--disclosure{
  left: 200px;
  padding: 15px;
}
.contact-us-header-menu h3{
  font-size: 16px;
  margin: 0;
  text-align: left;
  margin-bottom: 15px;
  color: var(--color-primary);
}
.contact-us-header-menu ul{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.contact-us-header-menu ul li{
  width: calc(50% - 10px);
}
.contact-us-header-menu ul li p{
  font-size: 12px;
  text-align: left;
  line-height: 20px;
  margin: 0;
}

.contact-us-header-menu ul li p a{
  text-decoration: none;
  color: inherit;
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {
  text-decoration: none;
  text-underline-offset: 0.3rem;
  color: var(--color-light-blue);
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}
