.header__icon--menu {
  position: initial;
}

.js menu-drawer > details > summary::before,
.js menu-drawer > details[open]:not(.menu-opening) > summary::before {
  content: '';
  position: absolute;
  cursor: default;
  width: 100%;
  height: calc(100vh - 100%);
  height: calc(
    var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%))
  );
  top: 100%;
  left: 0;
  background: var(--color-foreground-50);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: opacity var(--duration-default) ease,
    visibility var(--duration-default) ease;
}

menu-drawer > details[open] > summary::before {
  visibility: visible;
  opacity: 1;
}

.menu-drawer {
  position: absolute;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 99;
  left: 0;
  top: 100%;
  width: 100vw;
  padding: 0;
  border: 0rem solid var(--color-foreground-20);
  border-left: 0;
  background-color: var(--color-light-gray-background);
  overflow-x: hidden;
}

.js .menu-drawer {
  height: calc(100vh - 100%);
  height: calc(
    var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%))
  );
}

.js details[open] > .menu-drawer,
.js details[open] > .menu-drawer__submenu {
  transition: transform var(--duration-default) ease,
    visibility var(--duration-default) ease;
}

.no-js details[open] > .menu-drawer,
.js details[open].menu-opening > .menu-drawer,
details[open].menu-opening > .menu-drawer__submenu {
  transform: translateX(0);
  visibility: visible;
  display: block;
}

@media screen and (min-width: 750px) {
  .menu-drawer {
    width: 100%;
  }

  .no-js .menu-drawer {
    height: auto;
  }
}

.menu-drawer__inner-container {
  position: relative;
  height: 100%;
}

.menu-drawer__navigation-container {
  display: block;
  grid-template-rows: 1fr auto;
  align-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.menu-drawer__navigation {
  padding: 1.5rem 5.5rem;
  width: 100%;
}

.menu-drawer__inner-submenu {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.no-js .menu-drawer__navigation {
  padding: 0;
}

.no-js .menu-drawer__navigation > ul > li {
  border-bottom: 0.1rem solid var(--color-foreground-4);
}

.no-js .menu-drawer__submenu ul > li {
  border-top: 0.1rem solid var(--color-foreground-4);
}

.js .menu-drawer__menu li {
  margin-bottom: 0.2rem;
}

.menu-drawer__menu-item {
  padding: 1.5rem 0rem;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: var(--font-weight-custom-normal);
  color: var(--color-gray-text);
}
summary.menu-drawer__menu-item{
  display: block;
  outline: 0px !important;
  box-shadow: none;
  padding: 0;
  width: 100%;
  flex-wrap: nowrap;
}

summary.menu-drawer__menu-item .menu-drawer__menu-item{
  display: inline-block;
}
.menu-drawer__menu-item>.icon-arrow{
  display: inline-block;
}

.no-js .menu-drawer__menu-item {
  font-size: 1.4rem;
}

.no-js .menu-drawer__submenu .menu-drawer__menu-item {
  padding: 1.2rem 5.2rem 1.2rem 6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__submenu .menu-drawer__menu-item {
  padding-left: 9rem;
}

.no-js .menu-drawer__menu-item .icon-caret {
  right: 3rem;
}

.menu-drawer__menu-item--active,
.menu-drawer__menu-item:focus,
.menu-drawer__close-button:focus,
.menu-drawer__menu-item:hover,
.menu-drawer__close-button:hover {
  color: var(--color-light-blue);
  background-color:transparent;
}

.menu-drawer__menu-item--active:hover {
  background-color: transparent;
}

.js .menu-drawer__menu-item .icon-caret,
.no-js .menu-drawer .icon-arrow {
  display: inline-block;
}

.menu-drawer__menu-item>.icon-arrow{
  display: none;
}

.menu-drawer .icon-arrow {
  width: 1.3rem;
}

.menu-drawer__menu-item > .icon-arrow {
  position: absolute;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.js .menu-drawer__submenu {
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0; */
  width: 100%;
  z-index: 1;
  transform: translateX(0);
  visibility: hidden;
  display: none;
}

.js .menu-drawer__submenu .menu-drawer__submenu {
  overflow-y: auto;
}

.menu-drawer__close-button {
  margin-top: 1.5rem;
  padding: 1.2rem 2.6rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  width: 100%;
  background-color: transparent;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  display: none;
}

.menu-drawer__inner-submenu .menu-drawer__menu-item {
  font-size: 1.4rem;
  padding: 0rem 2rem 1.5rem 2rem;
}

.no-js .menu-drawer__close-button {
  display: none;
}

.menu-drawer__close-button .icon-arrow {
  transform: rotate(180deg);
  margin-right: 1rem;
}

.menu-drawer__utility-links {
  padding: 2rem;
  background-color: var(--color-foreground-3);
  display: none;
}

.menu-drawer__account {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 1.2rem;
  margin-left: -1.2rem;
  font-size: 1.4rem;
}

.menu-drawer__account .icon-account {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.menu-drawer .list-social {
  justify-content: flex-start;
  margin-left: -1.25rem;
  margin-top: 2rem;
}

.menu-drawer .list-social:empty {
  display: none;
}

.menu-drawer .list-social__link {
  padding: 1.3rem 1.25rem;
}

.menu-drawer__utility-links .list-social__link:hover {
  color: var(--color-foreground-75);
}
.overflow-hidden-mobile .slick-arrow{
  z-index: -1 !important;
}

@media screen and (max-width: 1199px) {
  .header_get_started_btn.mobile-button .btn-small {
    font-size: 2.4rem;
    height: 72px;
    line-height: 42px;
    max-width: 267px;
    margin-top: 46px;
  }
}

@media screen and (max-width: 590px) {
  .menu-drawer__navigation {padding: 2.7rem 4rem;}
  .menu-drawer__menu-item{padding: 1.4rem 0rem;  font-size: 1.4rem;}
  .menu-drawer__inner-submenu .menu-drawer__menu-item{padding: 0 1.5rem 1.5rem 1.5rem; font-size: 1.4rem; margin-bottom: 0;}

  .header_get_started_btn.mobile-button .btn-small {font-size: 2rem; height: 62px; line-height: 34px; max-width: 200px; margin-top: 25px;}
}

@media screen and (max-width: 499px) {
  .menu-drawer__navigation {padding: 2.7rem 2rem;}
}
@media(max-width : 1199px){
  .menu-drawer{
    background: #000000a6; 
  }
  summary.menu-drawer__menu-item svg{
    display: none !important;
  }
  .menu-drawer__navigation{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
  .menu-drawer__navigation .menu-drawer__menu li.main-link a{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    transform: none;
    top: auto;
    right: 0;
    color: #000;
    width : auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .menu-drawer__navigation .menu-drawer__menu li.main-link .menu-drawer__menu-item a{
    cursor: none;
    pointer-events: none;
  }
  .menu-drawer__inner-container {
    width: 100%;
    border: 0rem solid var(--color-foreground-20);
    border-left: 0;
    background-color: transparent !important;
    overflow-x: hidden;
  }
  .menu-drawer__inner-container .menu-drawer__navigation-container{
    width: 80%;
    border: 0rem solid var(--color-foreground-20);
    border-left: 0;
    background-color: var(--color-light-gray-background);
    padding-bottom: 50px;
  }
  .menu-drawer__inner-container .black-bg{
    width: calc(100% - 80%);
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  summary.menu-drawer__menu-item .menu-drawer__menu-item{
    position: relative;
    display: block;
  }
  summary.menu-drawer__menu-item .menu-drawer__menu-item::after,
  summary.menu-drawer__menu-item .menu-drawer__menu-item::before {
    position: absolute;
    width: 10px;
    height: 2px;
    content: '';
    transform: translateY(-50%);
    top: 50%;
    right: 20px;
    background: #000;
  }
  summary.menu-drawer__menu-item .menu-drawer__menu-item::before {
    transform: rotate(90deg);
    top : 49%;
  }
  .menu-drawer__submenu{
    padding: 0 15px;
  }
  .menu-drawer details[open] .menu-drawer__menu-item:before{
    display: none;
  }
  .menu-drawer details[open] .menu-drawer__menu-item:after{
    background-color: #fff;
  }
  .menu-drawer details[open] .menu-drawer__menu-item a{
    background: var(--color-light-blue);
    margin-bottom: 15px;
    color: #fff !important;
  }
}
@media(min-width : 768px) and (max-width : 1199px){
  .menu-drawer__inner-container {
    width : 375px
  }
}