.hometryon-success-popup-wrapper {
  display: none;
  min-width: 500px;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
}
.hometryon-success-sub {
  text-align: center;
}
.hometryon-success-sub h3 {
  font-size: calc(var(--font-h3) - 6px);
}
@media (max-width:767px){
  .hometryon-success-popup-wrapper{
    min-width: auto;
  }
}