.single-member-detail-part .background-part{
  cursor: auto;
}

.tooltip-main.question-tooltip .information_content{
  display: none;
  transition: all 2s;
}

.tooltip-main.question-tooltip{
  cursor: pointer;
}

.tooltip-main.question-tooltip:hover .information_content{
  display: block;
}

.horizontal-product-part-big{
  grid-template-columns : 66px auto 140px;
}

.product-swatch-option select,
.product-swatch-option .exchange-look-item {
  display: none;
  min-width: 550px;
}

.product-swatch-option select{
  height: 63px;
  line-height: 63px;
  border: 1px solid var(--light-gray-border);
  background-color: var(--color-light-gray-background);
  color: var(--color-primary);
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  font-size: var(--font-size-body);
  width: 100%;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0 60px 0 15px;
  background-image: url(https://cdn.shopify.com/s/files/1/0585/3223/3402/files/select-down-arrow.png);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  background-size: 15px;
}

.product-swatch-option .exchange-look-item{
  margin-top: 15px;
}

.fancybox-is-open .product-swatch-option select ,
.fancybox-is-open .product-swatch-option .exchange-look-item {
  display: block;
}

.invited-assigned-look .loader-icon {
  height: 100%;
  position: relative;
}

.invited-assigned-look .loader-icon .loading-overlay__spinner{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

@media(max-width:767px){
  .single-member-detail-part {
    min-height: 170px;
  }
  .single-member-detail-part .background-part{
    min-height: 172px;
    max-height: 172px;
    max-width: 172px;
  }
  .event-edit-hosted-wrap{
    color: var(--color-text-white);
    font-size: calc(var(--font-size-body) - 3px);
    font-weight: var(--font-weight-custom-medium);
    text-align: center;
    text-decoration: none;
    display: block;
  }
}

.page-back-link.page-last-link{
  margin: 0;
  text-align: left;
  background: #081220;
}

.page-back-link .link{
  color: #fff;
}

.page-back-link.page-last-link .page-width,
.page-back-link.page-last-link .page-width-big {
  padding: 15px 30px;
}

.account-profile-top-part .event-detail-part .event-edit-hosted{
  cursor: auto;
}


.look-product-wrapper.product-not-found{
  flex-wrap: wrap;
  padding: 10px 25px;
  display: flex;
}

.look-product-wrapper.product-not-found h4,
.look-product-wrapper.product-not-found p{
  display: block;
  width: 100%;
}

.look-product-wrapper.product-not-found h4{
  text-transform: capitalize;
}

.invited-assigned-look .look-product-block{
  display: flex;
  flex-wrap: wrap;
} 
.invited-assigned-look .horizontal-product-part-big{
  width: 100%;
}
.invited-assigned-look .border-heading{
  order: 0;
}
.invited-assigned-look .horizontal-product-part-big[data-product-type="jacket"]{
  order: 1;
  margin-bottom: 0 !important;
}
.invited-assigned-look .horizontal-product-part-big[data-product-type="pants"]{
  order: 2;
}
.invited-assigned-look .horizontal-product-part-big[data-product-type="vest"]{
  order: 3;
}
.invited-assigned-look .horizontal-product-part-big[data-product-type="shirt"]{
  order: 4;
}
.invited-assigned-look .horizontal-product-part-big[data-product-type="neckties"],
.invited-assigned-look .horizontal-product-part-big[data-product-type="bow-ties"],
.invited-assigned-look .horizontal-product-part-big[data-product-type="tie bar"]{
  order: 5;
}
.invited-assigned-look .horizontal-product-part-big[data-product-type="hanky"]{
  order: 6;
}
.invited-assigned-look .horizontal-product-part-big[data-product-type="belts"]{
  order: 7;
}
.invited-assigned-look .horizontal-product-part-big[data-product-type="shoes"]{
  order: 8;
}

.left-part-image-part .image{
  background: #f5f5f5;
}

.payment-pending-message{
  text-align: right;
  font-weight: 500;
  color: red;
}

.return-suit-checkout-button .order-complete{
  opacity: 0.5;
  cursor: none;
  pointer-events: none;
}

.return-suit-checkout-button .order-complete i{
  display: none;
}

.left-part-image-part .image img{
  min-height: 550px;
  mix-blend-mode : darken;
  /* object-fit: cover; */
}
@media screen and (max-width: 400px) {
  .horizontal-product-part {
    grid-template-columns: 60px auto 65px;
  }

  .horizontal-product-part .product-size-type {
    font-size: calc(var(--font-size-body) - 4px);
  }

  .horizontal-product-part .product-info h4 {
    font-size: calc(var(--font-h4) - 5px);
  }

  .horizontal-product-part .user-name {
    font-size: calc(var(--font-size-body) - 4px);
    margin-top: 6px;
  }

  .product-slider-detail-edit .tooltip-main .information_content {
    width: 162px;
  }

  .order-footer .button {
    font-size: calc(var(--font-button) - 2px);
  }

  /*my wedding*/

  /*invited*/
  .horizontal-product-part-big {
    grid-template-columns: 66px auto;
  }

  .horizontal-product-part-big .product-price {
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: left;
  }

  .question-tooltip .information_content {
    width: 225px;
  }

  /*invited*/

  /*home try on*/
  .choose-event-part {
    width: 260px;
  }
}
@media screen and (max-width: 590px){
  .horizontal-product-part-big {
    grid-template-columns: 66px auto 60px;
  }
}

.mywedding_section_wrap .invite-event-header .account-profile-top-part{
  background: #f5f5f5;
  margin-top: 25px;
  padding: 28px 15px;
  display: block;
  text-align: center;
}

.mywedding_section_wrap .invite-event-header .account-profile-top-part .profile-pic-part{
  display: none;
}

.mywedding_section_wrap .invite-event-header .account-profile-top-part .event-detail-part{
  display: flex;
  justify-content: center;
}
.mywedding_section_wrap .invite-event-header .account-profile-top-part .event-detail-part .event-date-part{
  color: var(--color-gray-text);
  font-size: 16px;
  display: block;
  margin: 0;
  text-align: center;
  padding-right: 15px;
  border-right: 1px solid var(--color-gray-text);
  height: 20px;
  display: flex;
  align-items: center;
}
.mywedding_section_wrap .invite-event-header .account-profile-top-part .event-detail-part .event-edit-hosted{
  color: var(--color-gray-text);
  font-size: 16px;
  padding-left: 15px;
  text-align: center;
  height: 20px;
    display: flex;
    font-weight: 400;
  align-items: center;
}
.mywedding_section_wrap .invite-event-header .account-profile-top-part .event-detail-part .event-edit-hosted .fas{
  margin-right: 8px;
}
.mywedding_section_wrap .invite-event-header .account-profile-top-part .event-detail-part .event-edit-hosted .user-name{
  font-weight: 600;
  margin-left: 4px;
}
.mywedding_section_wrap  .event-process-part {
  display: none;
}
.mywedding_section_wrap .invite-event-main-content{
  margin-top: 35px;
  padding: 0;
  margin-bottom: 60px;
}
.mywedding_section_wrap .invite-event-main-content.assigned-look-back{
  background: transparent;
}
.event-content-head{
  text-align: center;
  position: relative;
  margin-bottom: 35px;
}
.event-content-head .border-heading.title{
  font-size: 24px;
  margin: 0;
  padding: 0;
}
.event-content-head .border-heading.title::before{
  display: none;
}

.event-content-head .review-fit-finder{
  position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}
.event-content-head .review-fit-finder p{
  margin: 0;
  font-size: 14px;
}

.event-content-head .review-fit-finder .review-size{
  color: var(--color-primary);
  margin-right: 8px;
  font-weight: 500;
  text-transform: uppercase;
}
.event-content-head .review-fit-finder .fit-finder-text{
  color: var(--color-primary);
  font-weight: 400;
}
.event-content-head .review-fit-finder .fit-finder-text a{
  color: var(--color-primary);
  font-weight: 500;
  text-decoration: none;
}
.mywedding_section_wrap .invite-event-main-content .invited-assigned-look{
  display: flex;
  grid-column-gap: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mywedding_section_wrap .invite-event-main-content .invited-assigned-look .left-part-image-part{
  max-width: 500px;
  width: 100%;
}
.mywedding_section_wrap .invite-event-main-content .invited-assigned-look .left-part-image-part .look-name{
  padding-top: 40px;
  margin-bottom: 25px;
  margin-top: 0;
}
.mywedding_section_wrap .invite-event-main-content .invited-assigned-look .right-assigned-look-list{
  max-width: calc(100% - 535px);
  width: 100%;
}
.mywedding_section_wrap .invite-event-main-content .invited-assigned-look .right-assigned-look-list .look-product-wrapper{
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 10px;
}  
.mywedding_section_wrap .invite-event-main-content .invited-assigned-look .right-assigned-look-list .look-product-wrapper.pant-exist{
    margin: 0;
    padding-bottom: 0;
}

.mywedding_section_wrap .invite-event-main-content .invited-assigned-look .right-assigned-look-list .look-product-wrapper h4{  
  font-size: 18px;
}
.mywedding_section_wrap .invite-event-main-content .invited-assigned-look .right-assigned-look-list .look-product-wrapper .product-size-type-exchange{
  font-size: 16px;
}
.mywedding_section_wrap .invite-event-main-content .invited-assigned-look .right-assigned-look-list .look-product-wrapper .exchange-item-link.link{
  font-weight: 400;
}
.mywedding_section_wrap .invite-event-main-content .invited-assigned-look .right-assigned-look-list .look-product-wrapper .product-price .price{
  font-size: 16px;
}

.mywedding_section_wrap .invite-event-main-content .order-subtotal .subtotal-label{
  font-size: 14px;
  font-weight: 500;
}

.mywedding_section_wrap .invite-event-main-content .order-subtotal .price-number{
  font-size: 18px;
  font-weight: 500;
}
.mywedding_section_wrap .invite-event-main-content .return-suit-checkout-button{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.mywedding_section_wrap .invite-event-main-content .return-suit-checkout-button .proceed-to-cart{
  font-size: 16px;
  width: 300px;
  max-width: 100%;
}
.mywedding_section_wrap .invite-event-main-content .return-suit-checkout-button .info-stickey-note{
  border: 1px solid var(--light-gray-border);
  padding: 15px;
  font-size: 14px;
  max-width: initial;
}
.mywedding_section_wrap .invite-event-main-content .return-suit-checkout-button .info-stickey-note .info-note-text{
  margin: 0;
}
.mywedding_section_wrap .invite-event-main-content .return-suit-checkout-button .info-stickey-note .note-title{
  font-size: 14px;
  display: flex;
  align-items: center;
}
.mywedding_section_wrap .invite-event-main-content .return-suit-checkout-button .info-stickey-note .note-title .info-icon{
  display: flex;
  align-items: center;
}
.mywedding_section_wrap .invite-event-main-content .return-suit-checkout-button .info-stickey-note .note-title .info-icon .fas{
  position: static;
  margin-right: 8px;
}
.mywedding_section_wrap .invite-event-main-content .return-suit-checkout-button .info-stickey-note .info-note-text p.note-title-info{
  font-size: 14px;
  display: flex;
  margin-left: 21px;
}
.mywedding_section_wrap .invite-event-main-content .return-suit-checkout-button .info-stickey-note .info-note-text p.note-title-info a{
  display: inline-block;
  margin-left: 4px;
}
.the-party-part.invited-event-footer{
  border-top: 1px solid var(--light-gray-border);
  padding-top: 50px;
}
.the-party-part.invited-event-footer .party-background-part{
  background: transparent;
  padding: 0;
  margin-bottom: 50px;
}
.the-party-part.invited-event-footer .party-background-part:before{
  display: none;
}
.the-party-part.invited-event-footer .party-background-part .title{
  font-size: 24px;
  color: var(--color-primary);
  margin: 0 0 35px;
}
.invited-event-footer .party-invite-member-part{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.the-party-part.invited-event-footer .party-background-part .single-member-detail-part{
  min-height: auto;
  width: calc(25% - 10px);
}
.the-party-part.invited-event-footer .party-background-part .single-member-detail-part .background-part{
  min-height: auto;
  border: 1px solid var(--light-gray-border);
  border-radius: 4px;
  padding: 25px 15px;
}

.the-party-part.invited-event-footer .party-background-part .single-member-detail-part .background-part .member-name{
  margin: 0;
}
.the-party-part.invited-event-footer .party-background-part .single-member-detail-part .background-part .member-name .evntfirst_name{
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
  color: var(--color-primary);
}
.the-party-part.invited-event-footer .party-background-part .single-member-detail-part .background-part .evntlast_email{
  font-size: 14px;
  margin: 0;
  margin-bottom: 8px;
  display: block;
  color: var(--color-gray-text);
  word-wrap: break-word;  
}
.the-party-part.invited-event-footer .party-background-part .single-member-detail-part .background-part .event_phone{
  font-size: 14px;
  margin: 0;
  display: block;
  color: var(--color-gray-text);
}
@media(max-width: 767px){
  .mywedding_section_wrap .invite-event-header .account-profile-top-part .profile-info-part{
    padding: 0;
  }
  .mywedding_section_wrap .invite-event-header .account-profile-top-part .profile-info-part .page-title{
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .mywedding_section_wrap .invite-event-header .account-profile-top-part .profile-info-part .page-title:before{
    margin-left: auto;
  }
  .mywedding_section_wrap .invite-event-header .account-profile-top-part .event-detail-part .event-date-part{
    font-size: 14px;
  }
  .mywedding_section_wrap .invite-event-header .account-profile-top-part .event-detail-part .event-edit-hosted{
    font-size: 14px;
  }
  .mywedding_section_wrap .invite-event-main-content.assigned-look-back{
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .event-content-head .review-fit-finder{
    position: static;
    transform: translateY(0);
    justify-content: center;
  }
  .event-content-head{
    margin-bottom: 20px;
  }
  .event-content-head .border-heading.title{
    font-size: 18px;
  }
  .mywedding_section_wrap .invite-event-main-content .invited-assigned-look .right-assigned-look-list{
    width: 100%;
    max-width: 100%;
  }
  .mywedding_section_wrap .invite-event-main-content .invited-assigned-look .right-assigned-look-list .look-product-wrapper{
    grid-template-columns: 66px auto 20px;
  }
  .mywedding_section_wrap .invite-event-main-content .invited-assigned-look .right-assigned-look-list .look-product-wrapper h4{
    font-size: 16px;
  }
  .mywedding_section_wrap .invite-event-main-content .invited-assigned-look .right-assigned-look-list .look-product-wrapper .product-size-type-exchange{
    font-size: 14px;
  }
  .the-party-part.invited-event-footer{
    padding-top: 25px;
  }
  .the-party-part.invited-event-footer .party-background-part{
    margin: 0 0 25px;
  }
  .the-party-part.invited-event-footer .party-background-part .title{
    font-size: 18px;
    margin: 0 0 0;
  }
  .the-party-part.invited-event-footer .party-invite-member-part{
    grid-row-gap: 0;
  }
  .the-party-part.invited-event-footer .party-background-part .single-member-detail-part{
    width: 100%;
    margin-bottom: 15px;
  }
  .the-party-part.invited-event-footer .party-background-part .single-member-detail-part .background-part{
    width: 100%;
    max-width: initial;
    max-height: initial;
    margin: 0;  
  }
  .the-party-part.invited-event-footer .party-background-part .single-member-detail-part .background-part .member-name{
    font-size: 14px;
  }
}
.product-swatch-option.jacket .swatches.Color,
.product-swatch-option.vest .swatches.Color,
.product-swatch-option.shirt .swatches.Color,
.product-swatch-option.shoes .swatches.Color,
.product-swatch-option.pants .swatches.Color{
  display: none !important;
}
.template-page-event-invited .product-swatches-main .swatches.Color .swatch .swatch-element-item{
  padding: 0;
  display: inline-block;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 100%;
}
.template-page-event-invited .product-swatches-main .swatches.Color .swatch .swatch-element-item.active{
  border: 3px solid var(--color-button-light-blue);
}
.template-page-event-invited .product-swatch-option .swatches.Color .swatch .swatch-element-item label{
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
}